<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= locals.error %></p>
    <h1>welcome <%= locals.name %></h1>
    <img src="http://localhost:3000/ProfilePhotos/<%= locals.profile %>" height="300px" alt="">
    <h2>email: <%= locals.email %></h2>
    <h3>role: <%= locals.role %></h3>
</body>
</html>